<table>
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Town</th>
    <th>Suburb</th>
    <th>Country</th>
    <th>Zip Code</th>
    <th>ICP</th>
    <th>Meter Decimals</th>
    <th>Status</th>
    <th>Readings</th>
  </tr>
  <% addresses.each do |address| %>
    <tr>
      <td><%= address.id %></td>
      <td><%= address.street_number %> <%= address.street %> <%= address.unit %></td>
      <td><%= address.town %></td>
      <td><%= address.suburb %></td>
      <td><%= address.country %></td>
      <td><%= address.zip_code %></td>
      <td><%= address.icp %></td>
      <td><%= address.meter_decimal_places %></td>
      <td><%= address.status %></td>
      <td><%= link_to 'Readings', admin_customer_readings_path(address) %>
    </tr>
  <% end %>
</table>
