<% content_for :title, 'New Addresses' %>

<%= form_with model: @address, url: admin_addresses_path, class: :vertical_content, local: true do |form| %>

  <%= render partial: 'addresses/fields_for_address_form', locals: { address: @address } %>

  <%= form.submit %><br>
<% end %>
