<% content_for :title, 'Login for Users' %>

<%= form_with url: '/customer_login', class: :vertical_content, action: :post do |form| %>
  Email: <%= form.email_field :email %><br>
  <%= form.submit 'Log In' %>
<% end %>
