<h1><%= "#{DateTime.now.month}'s Invoice" %>
<p>
  You have used <%= @used_energy %> kWh's this month at a price of <%= @price %> per kWh. Your total bill is: <strong>$<%= @bill %></strong>
</p>
<p>
  Please come up with a way to get the money to us, and you can keep using your power. Cheers!
</p>
