<%= "#{DateTime.now.month}'s Invoice" %>
==============================================================================

You have used <%= @used_energy %> kWh's this month at a price of <%= @price %> per kWh. Your total bill is: $<%= @bill %>


Please come up with a way to get the money to us, and you can keep using your power. Cheers!
