<% content_for :title, "#{@admin.first_name}'s Admin Homepage" %>

<h2>Current Price per kWh: <%= "$#{@price}" %></h2>
<%= link_to "Update Price", new_admin_price_path, class: :vertical_content %>

<%= link_to "Customers Page", admin_customers_path, class: :vertical_content %>
<%= link_to "Addresses Page", admin_addresses_path, class: :vertical_content %>
