<% content_for :title, 'New Price per kWh' %>

<%= form_with model: @price, url: admin_prices_path, class: :vertical_content do |form| %>
  <%= form.text_field :price, placeholder: number_with_precision(0, precision: 2) %>
  <%= form.submit %><br>
<% end %>
