<table>
  <tr>
    <th>Reading ID</th>
    <th>Reading</th>
    <th>Read By</th>
    <th>Read By ID</th>
    <th>Date Entered</th>
  </tr>
  <% readings.each do |reading| %>
    <tr>
      <td><%= reading.id %></td>
      <td><%= number_with_precision(reading.reading, precision: @customer.address.meter_decimal_places) %></td>
      <td><%= reading.read_by_type %></td>
      <td><%= reading.read_by_id %></td>
      <td><%= reading.created_at %></td>
    </tr>
  <% end %>
  <% unless current_page?(action: :new) %>
    <tr>
      <td></td>
      <td>
        <% if admin_logged_in? %>
          <%= link_to 'New Reading', new_admin_customer_reading_path(customer) %>
        <% else %>
          <%= link_to 'New Reading', new_customer_reading_path(customer) %>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
