<% content_for :title, "Customer Readings" %>

<%= render partial: 'readings/reading_table', locals: { readings: @readings, customer: @customer } %>

<%= link_to "Customer Homepage", customers_path %>
