<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address ID</th>
    <th>Readings</th>
    <th>Editor</th>
    <th>Send Invoice</th>
  </tr>
  <% customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.first_name %></td>
      <td><%= customer.last_name %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "#{customer.address_id}", admin_addresses_path %></td>
      <td><%= link_to 'Readings', admin_customer_readings_path(customer) %></td>
      <td><%= link_to 'Edit', admin_customer_path(customer) %>
      <td><%= link_to 'Invoice', admin_customer_invoice_path(customer), method: :post %></td>
    </tr>
  <% end %>
</table>
