<% content_for :title, "Customer Editor" %>

<%= form_with model: @customer, url: admin_customer_url, class: :vertical_content, local: true do |customer_form| %>
  First Name: <%= customer_form.text_field :first_name %><br>
  Last Name: <%= customer_form.text_field :last_name %><br>
  Email: <%= customer_form.text_field :email %><br>

  <%= fields_for @address, local: true do |address_form| %>
    Street Number: <%= address_form.text_field :street_number %><br>
    Street: <%= address_form.text_field :street %><br>
    Unit: <%= address_form.text_field :unit %><br>
    Suburb: <%= address_form.text_field :suburb %><br>
    Town: <%= address_form.text_field :town %><br>
    Zip Code: <%= address_form.text_field :zip_code %><br>
    ICP Number: <%= address_form.text_field :icp %><br>
    Decimal Places: <%= address_form.text_field :meter_decimal_places %><br>
    Status: <%= address_form.text_field :status %><br>
  <% end %>

  <%= customer_form.submit %><br>
<% end %>
