<% content_for :title, "Welcome to Minishop, #{@customer.first_name}!" %>

<h2 class='vertical_content'>
  <% if @customer.address.unverified? %>
    Our admin will review your registration and get back to you ASAP with next steps. 
  <% else %>
    <%= link_to 'Readings', customer_readings_path(@customer) %>
  <% end %>
</h2>
