<% content_for :title, 'Register Here!' %>

<%= form_with model: @customer, class: :vertical_content, local: true do |customer_form| %>
  First Name: <%= customer_form.text_field :first_name %><br>
  Last Name: <%= customer_form.text_field :last_name %><br>
  Email: <%= customer_form.email_field :email %><br>

  <%= render partial: 'addresses/fields_for_address_form', locals: { address: @address } %>

  <%= customer_form.submit %><br>
<% end %>
