<%= fields_for address, local: true do |address_form| %>
  Street Number: <%= address_form.text_field :street_number %><br>
  Street: <%= address_form.text_field :street %><br>
  Unit: <%= address_form.text_field :unit %><br>
  Suburb: <%= address_form.text_field :suburb %><br>
  Town: <%= address_form.text_field :town %><br>
  Zip Code: <%= address_form.text_field :zip_code %><br>
  ICP Number: <%= address_form.text_field :icp %><br>
<% end %>
