/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary: #0336FF;
  --secondary: #FFDE03;
  --background: #efefef;
}

body {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% 80% 10%;
  grid-gap: 1em;
  padding: 1em;
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}

header,
footer {
  background-color: var(--primary);
  color: white;
}

main {
  background-color: var(--background);
}

header a:link,
header a:visited,
header a:hover {
  flex-grow: 0;
  padding: 0.75em;
  color: var(--secondary);
}

header a:active {
  flex-grow: 0;
  padding: 0.75em;
  color: white;
}

main a:link,
main a:visited {
  color: var(--primary);
}

main a:hover,
main a:active {
  color: var(--secondary);
}

main a {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

#title {
  font-size: 36px;
  flex-grow: 2;
  padding: 0.75em;
}

#header_space {
  flex-grow: 3;
  padding: 0.75em;
}

#error_message {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  font-size: 32px;
  color: red;
}

.vertical_container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.vertical_content {
  align-self: center;
  justify-self: center;
  padding: 0.5em;
}

.page_title {
  align-self: center;
  justify-self: center;
  font-size: 32px;
}

form input {
  display: flex;
  width: 350px;
  align-self: center;
  justify-self: center;
  padding: 0.5em;
}

.debug_dump {
  clear: both;
  float: left;
  width: 90%;
  margin: 10 10 10 10px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  margin: 10px;
}
