<% content_for :title, "Customer Readings" %>

<%= render partial: 'admin/customers/admin_customer_table', locals: { customers: [@customer] } %>

<%= render partial: 'admin/addresses/admin_address_table', locals: { addresses: [@customer.address] } %>

<%= render partial: 'readings/reading_table', locals: { readings: @readings, customer: @customer } %>

<%= link_to "Admin Homepage", admins_path %>
