<% content_for :title, 'New Reading' %>

<%= render partial: 'admin/addresses/admin_address_table', locals: { addresses: [@customer.address] } %>

<%= render partial: 'readings/reading_table', locals: { readings: @readings, customer: @customer } %>

<%= form_with model: @reading, url: admin_customer_readings_path, class: :vertical_content do |form| %>
  <%= form.text_field :reading, placeholder: ">= #{number_with_precision(@newest_read, precision: @customer.address.meter_decimal_places)}" %>
  <%= form.submit %><br>
<% end %>
