<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= render 'layouts/ie_shim' %>
  </head>

  <body>
    <header>
      <a href='/' class="material-icons md-36">home</a>

      <h1 id='title'>Minishop</h1>

      <div id='header_space'>
      </div>

      <a href="/customer_login" class="material-icons secondary md-36" aria-label="User Login" alt="User Login">account_circle</a>

      <a href="/admin_login" class="material-icons secondary md-36" aria-label="Admin Login" alt="Admin Login">supervisor_account</a>

      <a href="/settings" class="material-icons secondary md-36" aria-label="Settings" alt="Settings">settings</a>
    </header>

    <% if flash[:error] %>
      <div id='error_message'>
        <strong><%= simple_format flash[:error] %></strong>
      </div>
    <% end %>

    <main>     
      <%= render 'layouts/main_structure' %>
    </main>
  </body>

  <footer>
    <%= debug(params) if Rails.env.development? %>
    <%= 'Built by: Matthew Smith' if Rails.env.production? %>
  </footer>
</html>
